
.navbar
{
	background:linear-gradient(45deg,black,darkred,red);
}
.head
{
	background: linear-gradient(45deg,black,blue);
}
.fa
{
	font-size:25px;
}
.no-gap
{
    display: flex;
    align-items: center;
    background: linear-gradient(45deg,black,blue);
}
h1
{
	color: white;
	font-size:50px;
}
.card-header
{
	background: linear-gradient(45deg,black,green);
	color: white;
}
#card1
{
	background: linear-gradient(45deg,black,red);
}
#card2
{
	background: linear-gradient(45deg,black,green);
}
#card3
{
	background: linear-gradient(45deg,black,violet);
}
#a
{
	background: linear-gradient(45deg,blue);

}
tbody
{
	color: black!important;
}
#ch-1
{
	background: linear-gradient(45deg,black,violet);
}
.bg-danger{

               background: linear-gradient(45deg,rgb(219, 79, 213)) !imporant; 
}
.bg-dark{
       background: linear-gradient(45deg,rgb(rgb(79, 216, 219 )); 

}


#img{
padding:5px;
border:3px;
bar
}